
@{
    ViewBag.Title = "QuizzSerie";
}

<h2>QuizzSerie</h2>

@if (ViewBag.Quizz)
{
    switch (ViewBag.ID)
    {
        case 0:
            <text>
                La série du mois est X !
                Are you ready to start the Quizz ?

                @using (Html.BeginForm("Start", "Quizz"))
                {
                    <input type="submit" value="Commencer le Quizz" />
                }
            </text>
            break;
        case 1:
            <text>
                <h3">Premiere Question</h3">

                @using (Html.BeginForm("Question1", "Quizz"))
                {
                    @Html.Label("Combien font 3+3 : ");
                    <br />
                    <label>@Html.RadioButton("answer1", "2")2</label>
                    <br />
                    <label>@Html.RadioButton("answer1", "5")5</label>
                    <br />
                    <label>@Html.RadioButton("answer1", "6")6</label>
                    <br />
                    <input type="submit" value="Valider" />
                }
            </text>
            break;
        case 2:
            <text>
                <h3">Seconde Question</h3">
                @using (Html.BeginForm("Question2", "Quizz"))
                {
                    @Html.Label("Combien font 3+2 : ");
                    <br />
                    <label>@Html.RadioButton("answer2", "2")2</label>
                    <br />
                    <label>@Html.RadioButton("answer2", "5")5</label>
                    <br />
                    <label>@Html.RadioButton("answer2", "6")6</label>
                    <br />
                    <input type="submit" value="Valider" />
                }
            </text>
            break;
        case 3:
            <text>
                <h3">Troisieme Question</h3">
                @using (Html.BeginForm("Question3", "Quizz"))
                {
                    @Html.Label("Combien font 2+0 : ");
                    <br />
                    <label>@Html.RadioButton("answer3", "2")2</label>
                    <br />
                    <label>@Html.RadioButton("answer3", "5")5</label>
                    <br />
                    <label>@Html.RadioButton("answer3", "6")6</label>
                    <br />
                    <input type="submit" value="Valider" />
                }
            </text>
            break;
        case 4:
            <text>
                <h3">Resultats</h3">
                @ViewBag.score / 3
            </text>
            ViewBag.Quizz = false;
            break;
        default:
            break;
    }
}
else
{
    <text>
        <h3">Resultats</h3">
        <p>Quizz deja fait !</p>
        @Html.ActionLink("Resultats", "Results", "Quizz")
    </text>
}



