@model MediaStreamProject.Models.Model1

@*Affiche les Films par genre*@

<div class="ContainerFlexColumn">
<h1>Films</h1>

    <div class="ContainerFlexColumn">
        <h3>Action</h3>
        <div class="ContainerFlexWrapAffiche">

            @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
            {
                if (film.Genre == MediaStreamProject.Models.Genre.Action)
                {
                    <div class="ContainerFlexColumn">
                        <a href="~/Film/VideoFilms/@film.Id">
                            <img src="../@film.Image" class="Vignette" />
                        </a>

                        @film.Title
                        <div>
                            @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                            @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                        </div>

                    </div>
                }
            }
        </div>
    </div>




    <h3>Animation</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
        {
            if (film.Genre == MediaStreamProject.Models.Genre.Animation)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Film/VideoFilms/@film.Id">
                        <img src="../@film.Image" class="Vignette" />
                    </a>
                    <br />
                    @film.Title
                    <div>
                        @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                    </div>
                </div>
            }
        }
    </div>


    <h3>Horreur</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
        {
            if (film.Genre == MediaStreamProject.Models.Genre.Horreur)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Film/VideoFilms/@film.Id">
                        <img src="../@film.Image" class="Vignette" />
                    </a>
                    <br />
                    @film.Title
                    <div>
                        @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                    </div>
                </div>
            }
        }
    </div>
    <h3>Humour</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
        {
            if (film.Genre == MediaStreamProject.Models.Genre.Humour)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Film/VideoFilms/@film.Id">
                        <img src="../@film.Image" class="Vignette" />
                    </a>
                    <br />
                    @film.Title
                    <div>
                        @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                    </div>
                </div>
            }
        }
    </div>
    <h3>Romantique</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
        {
            if (film.Genre == MediaStreamProject.Models.Genre.Romantique)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Film/VideoFilms/@film.Id">
                        <img src="../@film.Image" class="Vignette" />
                    </a>
                    <br />
                    @film.Title
                    <div>
                        @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                    </div>
                </div>
            }
        }
    </div>
    <h3>Science Fiction</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
        {
            if (film.Genre == MediaStreamProject.Models.Genre.Science_Fiction)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Film/VideoFilms/@film.Id">
                        <img src="../@film.Image" class="Vignette" />
                    </a>
                    <br />
                    @film.Title
                    <div>
                        @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                    </div>
                </div>
            }
        }
    </div>
    <h3>Thriller</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Film film in ViewBag.Film)
        {
            if (film.Genre == MediaStreamProject.Models.Genre.Thriller)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Film/VideoFilms/@film.Id">
                        <img src="../@film.Image" class="Vignette" />
                    </a>
                    <br />
                    @film.Title
                    <div>
                        @Html.ActionLink("A regarder plus tard", "AddWishList", "WishList", null, new { @class = "btn btn-danger" })
                        @Html.ActionLink("Déja vue", "AddHistorique", "Historique", null, new { @class = "btn btn-danger" })

                    </div>
                </div>
            }
        }

    </div>
    </div>
