@model MediaStreamProject.Models.User
@{ViewBag.Title = "Connexion";}

<div class="ConnexionContent">
    <h3>Connexion</h3>
    @using (Html.BeginForm())
    {

    <div class="formCase">
        @Html.Label("Login")
        <br />
        @Html.TextBox("Login")
        <br />
        @Html.ValidationMessage("Login")
    </div>
    <div class="formCase">
        @Html.Label("Password")
        <br />
        @Html.Password("Password")
        <br />
        @Html.ValidationMessage("Password")
    </div>
    <div >
        <input type="submit" value="Connexion" class="ButtonForm" />
    </div>
    <br />

    }
</div>

