@model MediaStreamProject.Models.User
@{ViewBag.Title = "Inscription";}

@* Formulaire d'inscription *@
    <div class="InscriptionContent">

        <h3>S'inscrire à MediaStream</h3>
        @using (Html.BeginForm())
        {
            <div class="formCase">
            @Html.Label("Login")
            <br />
            @Html.TextBox("Login")
            <br />
            @Html.ValidationMessage("Login")
        </div>
        <div class="formCase">
            @Html.Label("Password")
            <br />
            @Html.Password("Password")
            <br />
            @Html.ValidationMessage("Password")
        </div>
        <button type="submit" name="Inscription" value="Inscription" class="InscriptionButton">Inscription</button>
    }
</div>

