@model MediaStreamProject.Models.Model1
<div class="SerieGenre">
    <h1>Séries</h1>

    @*Affiche les Series par genre*@

<div class="GenreContainer">
    <h3>Action</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Action)
            {
                <div class="Serie">
                    <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" class="GenreVignetteImage" /></a>
                    <div class="GenreVignetteTitre"> @serie.Title </div>
                </div>
            }
        }
    </div>
    </div>

<div class="GenreContainer">
    <h3>Animation</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Animation)
            {
                <div class="Serie">
                    <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" class="GenreVignetteImage" /></a>
                    <div class="GenreVignetteTitre"> @serie.Title </div>
                </div>
            }
        }
    </div>
    </div>

<div class="GenreContainer">
    <h3>Horreur</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Horreur)
            {
                <div class="Serie">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="GenreVignetteImage" />
                    </a>
                    <div class="GenreVignetteTitre"> @serie.Title </div>
                </div>
            }
        }
    </div>
    </div>
<div class="GenreContainer">
    <h3>Humour</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Humour)
            {
                <div class="Serie">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="GenreVignetteImage" />
                    </a>
                    <div class="GenreVignetteTitre"> @serie.Title </div>
                </div>
            }
        }
    </div>
    </div>
<div class="GenreContainer">
    <h3>Romantique</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Romantique)
            {
                <div class="Serie">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="GenreVignetteImage" />
                    </a>
                    <div class="GenreVignetteTitre"> @serie.Title </div>
                </div>
            }
        }
    </div>
    </div>
<div class="GenreContainer">
    <h3>Science Fiction</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
            {
                if (serie.Genre == MediaStreamProject.Models.Genre.Science_Fiction)
                {
                    <div class="Serie">
                        <a href="~/Serie/Seasons/@serie.Id">
                            <img src="../@serie.Image" class="GenreVignetteImage" />
                        </a>
                        <div class="GenreVignetteTitre"> @serie.Title </div>
                    </div>
                }
            }
        </div>
    </div>
<div class="GenreContainer">
    <h3>Thriller</h3>
    <div class="GenreVignette">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Thriller)
            {
                <div class="Serie">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="GenreVignetteImage" />
                    </a>
                    <div class="GenreVignetteTitre"> @serie.Title </div>
                </div>
            }
        }
    </div>
    </div>
</div>