@model MediaStreamProject.Models.Model1
    @{ string note = " ";}

@*Affiche les Series par genre*@
<div class="ContainerFlexColumn">
    <h1>Séries</h1>
    <h3>Action</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Action)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="Vignette"/>
                    </a>
                    <br />
                    @serie.Title
                </div>
            }
        }
    </div>

        <h3>Animation</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Animation)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="Vignette"/>
                    </a>
                    <br />
                    @serie.Title
                </div>
            }
        }
    </div>
        <h3>Horreur</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Horreur)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="Vignette"/>
                    </a>
                    <br />
                    @serie.Title
                </div>
            }
        }
    </div>
        <h3>Humour</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Humour)
            {
        <div class="ContainerFlexColumn">
            <a href="~/Serie/Seasons/@serie.Id">
                <img src="../@serie.Image" class="Vignette" />
            </a>
            <br />
            @serie.Title
            @switch (serie.Note)
            {
                case 1:
                    note = "★";
                    break;
                case 2:
                    note = "★★";
                    break;
                case 3:
                    note = "★★★";
                    break;
                case 4:
                    note = "★★★★";
                    break;
                case 5:
                    note = "★★★★★";
                    break;
                default:
                    break;
            }
            <p>Note : @note</p>
            <a href="~/Serie/NoterSerie/@serie.Id" class="btn btn-danger">Noter cette série</a>
        </div>
            }
        }
    </div>
    <h3>Romantique</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Romantique)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="Vignette" />
                    </a>
                    <br />
                    @serie.Title
                </div>
            }
        }
    </div>
    <h3>Science Fiction</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Science_Fiction)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image" class="Vignette"/>
                    </a>
                    <br />
                    @serie.Title
                </div>
            }
        }
    </div>
    <h3>Thriller</h3>
    <div class="ContainerFlexWrapAffiche">
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Thriller)
            {
                <div class="ContainerFlexColumn">
                    <a href="~/Serie/Seasons/@serie.Id">
                        <img src="../@serie.Image"class="Vignette" />
                    </a>
                    <br />
                    @serie.Title
                </div>
            }
        }
    </div>
</div>
