@model MediaStreamProject.Models.Model1
<h2>Séries</h2>
@*Affiche les Series par genre*@
<div class="Genre">
    <p>
        <h3>Action</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Action)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
    <p>
        <h3>Animation</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Animation)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
    <p>
        <h3>Horreur</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Horreur)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
    <p>
        <h3>Humour</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Humour)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
    <p>
        <h3>Romantique</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Romantique)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
    <p>
        <h3>Science Fiction</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Science_Fiction)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
    <p>
        <h3>Thriller</h3>
        @foreach (MediaStreamProject.Models.Serie serie in ViewBag.Serie)
        {
            if (serie.Genre == MediaStreamProject.Models.Genre.Thriller)
            {
                <a href="~/Serie/Seasons/@serie.Id"><img src="../@serie.Image" height="300" width="200" /></a>
                <br />
                @serie.Title
            }
        }
    </p>
</div>